<div class="container">
  <div class="row">
    <div class="col-md-6">
      <form class="form-horizontal" ng-submit="userCntrl.searchFriend()">
        <fieldset>
          <legend>Search and Add your Buddies</legend>
          <div class="form-group">
            <label for="inputEmail" class="col-lg-2 control-label">Search</label>
            <div class="col-lg-10">
              <input type="text" class="form-control" id="inputEmail" placeholder="Find your friends" ng-model="userCntrl.searchUser">
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-6 col-lg-offset-6">
              <button type="submit" class="btn btn-primary">Search</button>
            </div>
          </div>
        </fieldset>
      </form>
      <div class="well" ng-show="userCntrl.friendsFound"  ng-repeat="user in userCntrl.usersToAdd">
        <span >{{user.get("username")}}</span>
        <button class="btn btn-info vcenter pull-right" ng-click="userCntrl.addFriend(user)">Add Friend</button>
      </div>
      <div class="alert alert-dismissible alert-warning" ng-show="userCntrl.friendsNotFound" >
        <strong>Oops..</strong> <span>your friend has still not registered to Xpens-Track!</span>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-success" >
        <div class="panel-heading">
          <h3 class="panel-title">Buddies in your list</h3>
        </div>
        <div class="panel-body" ng-if="userCntrl.friendList().length!=0">
          <div class="list-group-item" ng-repeat="user in userCntrl.friendList()">
            {{user.get("username")}}
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-12" >
      <div class="panel panel-success" >
        <div class="panel-heading">
          <h3 class="panel-title"> Net amount Due </h3>
        </div>
        <div class="panel-body">
            <div class="list-group-item" >
               {{userCntrl.netAmount()}}
             </div>
          </div>
        </div>
      </div>
  </div>
</div>
